:root {
    --active-color: #2196F3;
}
/*body*/
.body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}

/*Header*/
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--active-color);
    text-decoration: none
}
.logo-header-span {
    color: #000000;
    text-decoration:none
}

.nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
}

.nav-studio-link {
    color: #212121;
    text-decoration: none;
}
.nav-studio-link:hover, 
.nav-studio-link:focus {
    color: var(--active-color);
}

.nav-portfolio-link {
    color: #212121;
    text-decoration: none;
}
.nav-portfolio-link:hover,
.nav-portfolio-link:focus {
    color: var(--active-color);
}

.nav-contacts-link {
    color: #212121;
    text-decoration: none;
}
.nav-contacts-link:hover,
.nav-contacts-link:focus {
    color: var(--active-color);
}

.adres-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
}
.adres-header-mail {
    color: #757575;
    text-decoration: none;
}
.adres-header-mail:hover, 
.adres-header-mail:focus {color:var(--active-color)}

.adres-header-tel {
    color: #757575;
    text-decoration: none;
}
.adres-header-tel:hover, 
.adres-header-tel:focus {color:var(--active-color)}

/*main index*/
    /*основная секция*/
    .title-section {
        background: #2F303A;
    }
    .title-text {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .title-button {
        font-family:'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color:#FFFFFF ;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
    }
    .title-button:hover,
    .title-button:focus, 
    .title-button:active {
        color: #FFFFFF;
        background: #188CE8;
    }
    /*особливості (advantage)*/
    .advantage-title {
    }

    .visually-hidden { 
        position: absolute; 
        white-space: nowrap; 
        width: 1px; 
        height: 1px; 
        overflow: hidden; 
        border: 0; 
        padding: 0; 
        clip: rect(0 0 0 0); 
        clip-path: inset(100%); 
        margin: -1px;
}
    .advantage-ul {
        list-style-type: none;
    }
    .advantage-text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
    }
    .advantage-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
    }
    /*Чим ми займаємося (profession)*/
    .profession-list {
        list-style-type: none;
    }
    .profession-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
    /*Наша Команда (team)*/
    .team-section {
        background-color: #F5F4FA;
    }
    .team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    }
    .team-ul {
        list-style-type: none;
    }
    .team-li {
        background-color: #FFFFFF;
    }
    .team-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: #212121;
    }
    .team-function {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        color: #757575;
    }

/*footer*/
.footer {
    background: #2F303A;
} 
.logo-footer-span {
    color: #FFFFFF;
}
.adres-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.adres-footer-ul {
    list-style-type: none;
}
.adres-footer-post {
    color: #FFFFFF;
    text-decoration: none;
}
.adres-footer-post:hover,
.adres-footer-post:focus {
    color: var(--active-color);
}
.adres-footer-mail {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.adres-footer-mail:hover,
.adres-footer-mail:focus {
    color:var(--active-color)
}
.adres-footer-tel {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.adres-footer-tel:hover,
.adres-footer-tel:focus {
    color:var(--active-color)
}

/*main portfolio*/
    /*Наши работы (jobs)*/
    .jobs-title {
        color: #F5F5F5
    } 
    .jobs-button-ul {
        list-style-type: none;
    }
    .jobs-button {
        font-family:'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        background: #F5F4FA;
        border-radius: 4px;
        cursor: pointer;
    }
    .jobs-button:hover,
    .jobs-button:focus,
    .jobs-button:active {
        color: #FFFFFF;
        background: var(--active-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
    .jobs-img-ul {
        list-style-type: none;
    }
    .jobs-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 2.0;
        letter-spacing: 0.06em;
        color: #212121;
    }
    .jobs-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: #757575;
    }
